name: BuildAndAnalyze

run-name: ${{github.sha}} - static analysis

on: [push]

env:
  COMPILE_COMMANDS: "compile_commands.json"
  PVS_LOG:          "PVS-Studio.log"
  PVS_SARIF:        "PVS-Studio.sarif"
  PVS_SUPPRESSION:  "catch2.suppress.json"
  PVS_RULESCONFIG:  "catch2.pvsconfig"

jobs:
  BuildAndAnalyze:
    runs-on: ${{matrix.config.os}}
    name: "Build and analyze on ${{matrix.config.name}}"
    timeout-minutes: 30
    strategy:
      matrix:
        config:
          - {
              name: "Windows",
              os: "windows-latest",
              pvs_analyzer: "C:/Program Files (x86)/PVS-Studio/CompilerCommandsAnalyzer.exe",
              pvs_converter: "C:/Program Files (x86)/PVS-Studio/HtmlGenerator.exe"
            }

          - {
              name: "Linux",
              os: "ubuntu-latest",
              pvs_analyzer: "pvs-studio-analyzer",
              pvs_converter: "plog-converter"
           }

          - {
              name: "macOS",
              os: "macOS-latest",
              pvs_analyzer: "pvs-studio-analyzer",
              pvs_converter: "plog-converter",
          }
    steps:
      - name: Check out
        uses: actions/checkout@v4

#Only Windows       
      - name: Choco install tools
        if: runner.os == 'Windows'
        uses: crazy-max/ghaction-chocolatey@v3
        with: 
          args: install pvs-studio ninja
 
      - name: Initialize MSVC development environment
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
          
#Only Linux and macOS
      - name: Install PVS-Studio
        if: runner.os != 'Windows'
        run: |
              if [ "$RUNNER_OS" == "Linux" ]; then
                wget -qO- https://cdn.pvs-studio.com/etc/pubkey.txt | \
                sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/viva64.gpg
                sudo wget -O /etc/apt/sources.list.d/viva64.list \
                https://cdn.pvs-studio.com/etc/viva64.list
                sudo apt-get update
                sudo apt-get install pvs-studio ninja-build
              elif [ "$RUNNER_OS" == 'macOS' ]; then
                brew install viva64/pvs-studio/pvs-studio ninja
              else
                echo "The $RUNNER_OS is not supported."
                exit 1
              fi

      
      - name: Activate PVS-Studio
        env:
          USER_NAME: ${{ secrets.PVS_USER_NAME }}
          LIC_KEY: ${{ secrets.PVS_LIC_KEY }}
        shell: bash
        run: "\"${{matrix.config.pvs_analyzer}}\" credentials \"${{env.USER_NAME}}\" \"${{env.LIC_KEY}}\""

      - name: Configure
        run:  cmake -G "Ninja" -DCMAKE_EXPORT_COMPILE_COMMANDS=On -S "${{ github.workspace }}" -B "${{github.workspace}}/build"

      - name: Build 
        run:  cmake --build "${{github.workspace}}/build"

      - name: Analyzer with PVS-Studio
        shell: bash
        env:
          SUPPRESS_FILE: "${{github.workspace}}/src/${{env.PVS_SUPPRESSION}}"
          RULESCFG_PATH: "${{github.workspace}}/src/${{env.PVS_RULESCONFIG}}"
          COMPILE_COMMANDS_PATH: "${{github.workspace}}/build/${{env.COMPILE_COMMANDS}}"
        run: "\"${{matrix.config.pvs_analyzer}}\" analyze -f \"${{env.COMPILE_COMMANDS_PATH}}\" -o \"${{env.PVS_LOG}}\" -s \"${{env.SUPPRESS_FILE}}\" -R \"${{env.PVS_RULESCONFIG}}\" -j" 
        working-directory: ${{github.workspace}}/build
      
      - name: Convert analysis reports
        shell: bash
        run: "\"${{matrix.config.pvs_converter}}\" -t \"sarif\" -a \"all\" -o \"${{env.PVS_SARIF}}\" \"${{env.PVS_LOG}}\""
        working-directory: ${{github.workspace}}/build

      - name: Save analysis reports
        uses: actions/upload-artifact@v4
        with:
          name: StaticAnalysis_${{matrix.config.name}}
          path: ${{github.workspace}}/build/PVS-Studio*
          retention-days: 7
          if-no-files-found: ignore
        
      - name: Publish static analysis report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "${{github.workspace}}/build/${{env.PVS_SARIF}}"
          category: "PVS-Studio_${{matrix.config.name}}"